.profileSection {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profilePic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.profileInfo {
    max-width: 500px;
}

.profileInfo h2 {
    margin: 0;
}

.profileInfo p {
    margin: 5px 0 0;
    color: #555;
}