/* App.css */
html, body {
  height: 100%;
  margin: 0;
}

.App {
  display: grid;
  grid-template-areas:
    "h h"
    "n c"
    "f f";
  grid-template-rows: 60px 1fr auto; /* Высота шапки фиксированная, контент растягивается, футер фиксированного размера */
  grid-template-columns: 1fr 3fr;
  min-height: 100vh; /* Гарантирует, что .App занимает всю высоту экрана */
}




